header {
  text-align: right;
  color:#616161;
  font-size: 40px;

}
body {
  background-color: #424242;
}
h1 {
  text-align: center;
  color: #2792B5;
  text-shadow: 2px 2px 6px gray;
}

button {
  
  width: 24.4%;
  border-radius: 4px;
  background-color: #424242;
  color: white;
  opacity: .5;
  display: inline;
}
span {
  text-shadow: 2px 2px 6px gray;
  text-align: center;
  font-size: 25px;
}
#rounded-corners {
  border-radius: 70px;
} 
#me {
  clear: left;
}
#hover {
  background-repeat: no-repeat;
 
  display: inline flex;
  color:black;

}
h3{
  color: white;

}
.chuck-norris{
  background-image: url("./chuckimg.png");
background-size: 100%;
}
.ada{
  background-image: url("./adaimg.png");
  background-size: 100%;
  width: 45%;
}

Nav{
  background-color: #424242;
  font-size: 35px; 
}
.box {
  display: center;
  flex: center;
  text-align: center;
  background-color: #424242;
  height:fit-content;
}
#contact{
  text-decoration: none;
  color: white;
}

#contact:visited{
  text-decoration: none;
  color: white;
}