.heading{
  text-align: right;
  color:aqua;
  font-size: 230px;
}





.NavBar{

  color: lightskyblue;
  background-color: gray;
  font-size: 20px; 
  
}
#box-ADA{
  width:1500px;
  height: 1000px;
  color:blue;
  background-color: gray;
}
